---
import { ScrollArea } from "@/components/ui/scroll-area";
import SidebarNav from "@/components/sidebar-nav.astro";
import { docsConfig } from "@/config/docs";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div
    class="px-8 flex-1 items-start md:grid md:grid-cols-[240px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[250px_minmax(0,1fr)] lg:gap-10"
  >
    <aside
      class="fixed top-14 z-30 -ml-2 hidden h-[calc(100vh-3.5rem)] w-full shrink-0 md:sticky md:block"
    >
      <ScrollArea className="h-full pr-6">
        <SidebarNav items={docsConfig.sidebarNav} />
      </ScrollArea>
    </aside>

    component
  </div>
</Layout>
