---
import { docsConfig } from "@/config/docs";
import { siteConfig } from "@/config/site";
import { cn } from "@/lib/utils";

const pathname = Astro.url.pathname;
---

<div class="mr-4 flex">
  <a href="/" class="relative mr-6 flex items-center space-x-2">
    <span class="font-bold">{siteConfig.name}</span>
  </a>
  <nav class="items-center space-x-6 text-sm font-medium flex">
    {
      docsConfig.mainNav.map((item) => (
        <a
          href={item.href!}
          aria-label={item.title}
          class={cn(
            "flex items-center justify-center transition-colors hover:text-foreground/80",
            pathname?.startsWith(item.href!)
              ? "text-foreground"
              : "text-foreground/60"
          )}
        >
          <span class="shrink-0">{item.title}</span>
        </a>
      ))
    }
  </nav>
</div>
