---
import type { SidebarNavItem } from "@/types";
import SidebarNavItems from "./sidebar-nav-items.astro";

export interface Props {
  items: SidebarNavItem[];
}
const { items } = Astro.props;
const pathname = Astro.url.pathname;
---

<Fragment>
  {
    items.length ? (
      <div class="w-full pb-20">
        {items.map((item, index) => (
          <div class={"pb-4"}>
            <h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">
              {item.title}
            </h4>
            {item?.items && (
              <SidebarNavItems
                items={item.items}
                pathname={pathname}
                groupId={`group-${index}`}
              />
            )}
          </div>
        ))}
      </div>
    ) : null
  }
</Fragment>
